*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color:rgb(180, 58, 36);
}
.title{
    color:rgb(12, 194, 94);
    text-align: center;
}
.buttonSwitch{
    background-color: #F4F1BB;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    cursor:pointer;
}
.userImg{
    width:40px;
    height: 40px;
    border-radius: 50%;
}
ul{
    margin-top:20px;
    text-align: center;
    margin-bottom: 40px;
}
ul li{
    display: inline-block;
    margin:0px 10px;
}